* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

body {
    font-family: "Barlow Condensed", sans-serif;
}

.nav_bar {
    display: flex;
}

header {
    background-color: #3E3E3E;
    height: 100vh;
    border: 1px solid transparent;
    color: #fff;
}

header nav {
    overflow: auto;
    padding: 15px 0px;
    border-bottom: 1px solid #fff;
    display: flex;
}

header nav .container {
    overflow: auto;
    width: 80%;
    margin: auto;
}

header nav .part1 {
    float: left;
    text-align: center;
    width: 10%;
}

header nav .part1 img {
    width: 100%;
}

header nav .part2 {
    float: right;
}

header nav .part2 ul {
    list-style: none;
}

header nav .part2 ul li {
    display: inline-block;
    padding: 0;
    letter-spacing: 1.5px;
}

header nav .part2 ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    margin-top: 50px;

}

header .content {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    margin-top: 60px;
}

header .content h1 {
    margin: 10px 0px;
    font-size: 50px;
}

header .content p {
    font-size: 25px;
}


header nav .part2 ul li.mr {
    margin-right: 20px;

}

header .content {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    margin-top: 100px;
}

header .content h1 {
    margin: 10px 0px;
    font-size: 60px;
}

header .content p {
    font-size: 30px;
}

#About,
#book {
    background-color: #73281A;
    color: #fff;
}

#About .container {
    overflow: auto;
    width: 80%;
    margin: auto;
}

#About .part1 h2 {
    font-size: 100%;
}

#About .part1 h5 {
    font-size: 12px;
    margin: 10px 0px;
}

#About .part1 p {
    line-height: 30px;
    font-size: 12px;
    text-align: left;
}

#About .part1 p span {
    background-color: #FF894F;
    color: #000;
    box-sizing: 10%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500px;
}


#About .part1 {
    width: 50%;
    text-align: center;
}


#About .part2 {
    width: 50%;
    text-align: center;
}

#About .part2 img {
    width: 80%;
    border-radius: 10px;
}

#Menu,
footer {
    background-color: #3E3E3E;
}

#Menu .burger {
    width: 50%;
    padding: 20px;
}

#Menu .burger h4 {
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
    color: #fff;
}

#Menu .burger img {
    width: 100%;
    border-radius: 20px;
}

#Menu .burger ul li {
    width: 25%;
    /*    padding-left: 50px;
*/
}



#book form {
    width: 40%;
    margin: auto;
}

#book form .input {
    margin-bottom: 50px;
}

#book form .input input,
#book form .input textarea {
    width: 100%;
    border-radius: 10%;
    height: 45px;
}

#book form .input textarea {
    height: 120px;
    resize: none;
}

#book form button {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    font-weight: 700px;
    font-size: 20px;
    letter-spacing: 2px;
}


footer {
    text-align: center;
    font-size: 20px;
    padding: 20px 0px;
}